
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
*{
    font-family: poppins, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.card{
    width: 200px;
    height: auto;
    margin :50px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px gray;
    background-color: antiquewhite;


}

.product-image{
    width: 150px;
    height: 150px;
    border-radius: 30px;
}
 .icon-container {
    color: blue;
    
}
button{
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    
}

nav{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 20px;
    border-radius: 20px;
}

nav .links a{
    color: black;
    margin-right: 25px;
    text-decoration: none;
}
nav .links a:hover {
    color: blueviolet;
    font-weight: bold;
    font-style: italic;
    transition: 0.25s ease-in;
}
 .search-bar input {
    border-radius:5px;  
   
 }
 
section{
    display: flex;
}

.search-bar i{
    color: blue;
}

.icon i{
    color: blue;
    height: 20px;
    width: 10px;
}

button  i{
    color: blue;
    justify-content: space-around;
}
 
.card .product-name{
    color: ;
    font-style: italic;
}

.card .product-price{
    font-weight: bold;
}

